.edit .controller.ds4.white {
    background: url(https://schoettner.github.io/skins/base-custom.png);
}


.controller.edit {
    background: url(https://schoettner.github.io/skins/base-custom.png);
}


.edit .face .ds4.white {
    background: url(https://delizo10.github.io/svg/customarrows.svgz);
}


.edit .face {
    position: absolute;
    background: url(https://delizo10.github.io/svg/customarrows.svgz);
}


.edit .stick .ds4.white {
    background: url(https://delizo10.github.io/svg/customsticks.svgz);
}


.edit .stick {
    position: absolute;
    background: url(https://delizo10.github.io/svg/customsticks.svgz);
}
