.edit .controller.ds4 {
    background: url(https://schoettner.github.io/skins/base-custom.png);
}


.controller.edit {
    background: url(https://schoettner.github.io/skins/base-custom.png);
}


.edit .face .ds4 {
    background: url(https://delizo10.github.io/svg/customarrows.svgz);
}


.edit .face {
    position: absolute;
    background: url(https://delizo10.github.io/svg/customarrows.svgz);
}


.edit .stick .ds4 {
    background: url(https://delizo10.github.io/svg/customsticks.svgz);
}


.edit .stick {
    position: absolute;
    background: url(https://delizo10.github.io/svg/customsticks.svgz);
}

.edit .button .ds4 {
    background: url(https://delizo10.github.io/svg/custombuttons.svgz);
}


.edit .button {
    position: absolute;
    background: url(https://delizo10.github.io/svg/custombuttons.svgz);
}


.edit .bumper .ds4 {
    background: url(ps4-white-assets/bumper.svgz) no-repeat;
}


.edit .bumper {
    position: absolute;
    background: url(ps4-white-assets/bumper.svgz) no-repeat;
}
