.edit .controller.ds4 {
    background: url(https://schoettner.github.io/skins/base-custom.png);
}


.edit .face {
    position: absolute;
    background: url(https://delizo10.github.io/svg/customarrows.svgz);
}


.edit .stick {
    position: absolute;
    background: url(https://delizo10.github.io/svg/customsticks.svgz);
}


.edit .button {
    position: absolute;
    background: url(https://delizo10.github.io/svg/custombuttons.svgz);
}


.edit .bumper {
    position: absolute;
    background: url(ps4-white-assets/bumper.svgz);
}
